<div class="slider-wrapper theme-default">
	<div id="slider" class="nivoslider" style="height:600px">
		<img src="images/thandieudaihiep.jpg"  alt="" class="fillheight"/> 
		<img src="images/thienlongbatbo.jpg"  alt="" data-transition="slideInLeft" class="fillheight" />
		<img src="images/tieungaogiangho.jpg"  alt="" title="#htmlcaption" class="fillheight"/> 
	</div>
</div>