<div class="slider-wrapper theme-default">
	<div id="slider" class="nivoslider">
		<img src="images/nemo.jpg"  alt="" class="fillheight"/> 
		<img src="images/up.jpg"  alt="" data-transition="slideInLeft" class="fillheight" />
		<img src="images/walle.jpg"  alt="" title="#htmlcaption" class="fillheight"/> 
	</div>
</div>