<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			Yêu Kiếm Hiệp
		</title>
		<script src="jquery-3.2.1.js"></script>
		<script src="bootstrap.min.js"></script>
		<script src="https://daihoianhhung.herokuapp.com/socket.io/socket.io.js"></script>
		<script src="Client_JS.js"></script>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="bootstrap-theme.min.css"/>
		<link rel="stylesheet" type="text/css" href="_layout.css"/>
	</head>
	<body>
		<div class="jumnotron">
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<nav id="firstNav" class="navbar navbar-inverse">
						<div class="container-fluid col-md-offset-0">
							<div class="navbar-header">
								<a class="navbar-brand" href="#">Đại hội anh hùng</a>
							</div>
							<ul id="menuRegister" class="nav navbar-nav navbar-right">
								<li>
									<a href="#">Đăng ký</a>
								</li>
								<li>
									<a href="#">Đăng nhập</a>
								</li>
							</ul>
							<ul id="menuLogout" class="nav navbar-nav navbar-right">
								<div id="sayHi">
									<span id="currentUser"></span>
									<button id="btnLogout" class="btn-default">Logout</button>
								</div>
							</ul>
							<ul class="navbar-form navbar-center">
								<form >
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Nhập từ khóa tìm kiếm">
									</div>
									<button type="submit" class="btn btn-default">Search</button>
								</form>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<nav id="secondNav" class="navbar navbar-default">
						<div class="container-fluid col-md-offset-2">
							<div class="navbar-header navhover">
								<a class="navbar-brand" href="#">Home</a>
							</div>
							<ul class="nav navbar-nav">
								<li class="dropdown userli">
									<a href="#" class="dropbtn">Phòng chat</a>
									<div class="dropdown-content">
										<a href="http://localhost:3000/chatpublic/">Chat cộng đồng</a>
										<a href="http://localhost:3000/groupchat/">Chat nhóm</a>
										<a href="http://localhost:3000/privatechat">Chat riêng tu</a>
									</div>
								</li>
								<li class="dropdown userli">
									<a class="dropbtn" href="#">Top 5</a>
									<div class="dropdown-content">
										<a href="#">Link 1</a>
										<a href="#">Link 2</a>
										<a href="#">Link 3</a>
									</div>
								</li>
								<li class="userli">
									<a href="#">Điều khoản</a>
								</li>
								<li class="userli">
									<a href="#">Liên hệ</a>
								</li>
								<li class="userli">
									<a href="#">Trợ giúp</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
		<div class="container" id="container">
			<div id="wrapper" class="row">
				<div id="loginForm" class="form-inline col-md-offset-5 col-xs-offset-5 col-md-12 col-xs-12">
					<input type="text" id="txtUserName" class="form-control" placeholder="Type your username"/>
					<button type="button"  id="btnRegister" class="btn btn-success">
						Register
					</button>
				</div>
				<div id="chatForm" class="col-md-12 col-xs-12">
					<div id="left" class="col-md-2 col-xs-12">
						<h3>Danh sách online</h3>
						<div>
							<ul  id="userOnline" class="list-group">
							</ul>
						</div>
					</div>
					<div id="right" class="col-md-9 col-xs-12">
						<div class="col-md-12">	
							<div id="listMessage"class="col-md-12 col-xs-12">
							</div>							
						</div>
							
						<div id="notify_someoneType" class="col-md-12 col-xs-12">
						<div id="userMessage" class="col-md-12 col-sm-12">
							<input type="text" id="txtMessage"/>
							<input type="button" id="btnSendMessage" class="btn-success" value="Send Message"/>
						</div>
											
						
					</div>
				</div>
			</div>
		</div>
	</body>
</html>