<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			Yêu Kiếm Hiệp
		</title>
		<script src="jquery-3.2.1.js"></script>
		<script src="bootstrap.min.js"></script>
		<script src="socket.io/socket.io.js"></script>
		<script type="text/javascript" src="jquery.nivo.slider.js"></script>
		<script src="Client_JS.js"></script>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="bootstrap-theme.min.css"/>
		<link rel="stylesheet" type="text/css" href="_layout.css"/>
		<link rel="stylesheet" type="text/css" href="nivo-slider.css"/>
	</head>
	<body>
		<div class="jumbotron">
			<% include _layout_share%>
		</div>
		<div class="container">
			<% include _slider_share%>
		</div>
		<div class="container" id="container">
			<div id="wrapper" class="row">
				<div id="chatForm" class="col-md-12 col-xs-12">
					<div id="left" class="col-md-2 col-xs-12">
						<h3>Danh sách online</h3>
						<div>
							<ul  id="userOnline" class="list-group">
							</ul>
						</div>
					</div>
					<div id="right" class="col-md-9 col-xs-12">
						<div class="col-md-12">	
							<div id="listMessage"class="col-md-12 col-xs-12">
							</div>							
						</div>
							
						<div id="notify_someoneType" class="col-md-12 col-xs-12"></div>
						<div id="userMessage" class="col-md-12 col-sm-12">
							<input type="text" id="txtMessage"/>
							<input type="button" id="btnSendMessage" class="btn-success" value="Send Message"/>
						</div>
											
						
					</div>
				</div>
			</div>
		</div>
	</body>
</html>