.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn { */
    /* background-color: #3e8e41; */
/* } */
#firstNav,#secondNav{
	margin:0px;
}
#secondNav{
	height:40px;
}
.userli{
	border-left:2px solid #d2dde0;
}
.userli:hover{
	background-color:#68cce8;
	color:white;
}
.navhover:hover{
	background-color:#68cce8;
	color:white;
}
#loginForm{
	margin-top:10%;
}
#container{
	width:100%;
	margin:0px;
}
#listMessage{
	position:fixed;
	overflow-y: auto;
	height:60%;
	margin-top:2%;
}
#userMessage{
	position:fixed;
	height:5%;
	width:100%;
	top:95%;
}
.user_Message{
	border:1px solid black;
}
.myMessage{
	color:red;
	border:1px solid black;
	background-color:aqua;
}
#userOnline{
	overflow-y: auto;
	max-height:100%;
	background-color:#e1e5ed;
}
#chatForm{
	height:700px;
	margin-left:0px;
	padding-left:0px;
}
#currentUser{
	color:red;
}
#menuLogout{
	padding-top:10px;
}
#left{
	background-color:#e1e5ed;
	height:100%;
}